body {
    background-color: #282a32;
    color: white;
    font-family: Consolas, monaco, monospace;
    user-select: none;
}

/*** BEGIN OPTIONAL styling for box that contains the list ***/
.menu-tree-container {
    font-weight: 200px;
    font-size: 14px;
    width: 250px;
    height: calc(100vh - 70px);
    overflow-y: auto;
    padding: 0px 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #242328;
}

#editorframe {
    position: fixed;
    height: calc(100vh - 70px);
    right: 0;
    border: 1px solid black;
    width: calc(100% - 250px);
    bottom: 0;
}

/*** END OPTIONAL styling for box that contains the list ***/

.menu-tree-preloader {
    width: 50px;
    top: 45%;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    display: none;
    /* Initially set this to not display unless JS is detected*/
}

.menu-tree * {
    margin: 5px;
}

.menu-tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-tree li li {
    /*background-image: url(https://quizizz.pages.dev/page.png);
              background-position: 0 1px;
              background-repeat: no-repeat;*/
    padding-left: 20px;
}

.menu-tree a {
    /*background: transparent url(https://quizizz.pages.dev/https://www.jqwidgets.com/jquery-widgets-demo/images/folder.png ) no-repeat left top; */

    padding: 0px 0 0px 0px;
    display: block;

    color: white;
    cursor: pointer;
    text-decoration: none;
}

ul>li {
    background: transparent url(https://quizizz.pages.dev/folder.png) no-repeat left top;
    padding: 0px 0 0px 20px;
}

li:has(> .expanded) {
    background: transparent url(https://quizizz.pages.dev/folder_open.png) no-repeat left top;
    padding: 0px 0 0px -12px;
}

.js {
    background: transparent url(https://quizizz.pages.dev/js.png) no-repeat left top;
}

.html {
    background: transparent url(https://quizizz.pages.dev/html.png) no-repeat left top;
}

.css {
    background: transparent url(https://quizizz.pages.dev/css.png) no-repeat left top;
}

.txt {
    background: transparent url(https://quizizz.pages.dev/txt.png) no-repeat left top;
}

.md {
    background: transparent url(https://quizizz.pages.dev/md.png) no-repeat left top;
}

.jpg,
.jpeg,
.png,
.gif {
    background: transparent url(https://quizizz.pages.dev/img.png) no-repeat left top;
}

/*** END IMAGE ICON ***/

.menu-tree a:hover {
    background-color: #313036;
}