body {
    background-color: #282a32;
    color: white;
    font-family: Consolas, monaco, monospace;
    user-select: none;
}

#editor {
    position: fixed;
    z-index: 1;
    height: calc(100% - 70px);
    width: calc(100% - 250px);
    bottom: 0;
    right: 0;
}